.ddgcl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.ddgcl * {
  box-sizing: border-box;
  outline: none;
}
.ddgcl .ddgcl-select {
  border: 1px solid #999;
  min-width: 50px;
  padding: 2px;
}
.ddgcl .ddgcl-text {
  padding: 0 2px;
}
.ddgcl .ddgcl-arrow-wrapper {
  /*background-color: #090; /* debug only */
  float: right;
  padding: 0 3px;
}
.ddgcl .ddgcl-arrow-wrapper i.fa {
  color: #000;
  font-weight: bold;
}
.ddgcl.ddgcl-dropdown {
  background-color: #fff;
  border: 1px solid #999;
  outline: none;
}
.ddgcl ul:first-of-type {
  /* outermost <ul> */
  padding: 0;
}
.ddgcl .ddgcl-check-all-item {
  font-style: italic;
}
.ddgcl .ddgcl-group-header {
  font-weight: bold;
}
.ddgcl ul {
  list-style-type: none;
}
.ddgcl ul li.ddgcl-check-all-item,
.ddgcl ul li.ddgcl-group-header,
.ddgcl ul li.ddgcl-item {
  padding-right: 8px;
}
.ddgcl ul li.ddgcl-check-all-item:hover,
.ddgcl ul li.ddgcl-group-header:hover,
.ddgcl ul li.ddgcl-item:hover {
  background-color: #3879D9;
  color: #fff;
}
.ddgcl input[type="checkbox"] {
  position: relative;
  top: 2px;
}
